*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", sans-serif;
    
}

body{
    background-color: #000000;
    
}

img{
    width: 583px;
    height: 374px;
    margin-top: 156px;
    margin-left: 728px;
}

p{
   
    font-weight: 400;
    font-size:32px;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
    margin-top: 156px;
    margin-right: 800PX;
    margin-left: 490px;
    

   
 }

.enter{

    font-weight: 500px;
    font-size: 40px;
    line-height: 100%;
    color: #000000;

   
    width: 300px;
    height: 31px;
    margin-top: 13px;
    opacity: 50%;

    width: 342px;
    height: 74px;
    margin-top: 10px;
    margin-left: 647px;
    border-radius: 14px;
    border-width: 1px;
    cursor: pointer;
 
}
    
.until{
    font-weight: 500px;
    font-size: 40px;
    line-height: 100%;
    color: #000000;

    width: 300px;
    height: 31px;
    top: 13px;
    left: 16px;
    opacity: 50%;
   
    width: 342px;
    height: 74px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 14px;
    border-width: 1px;
    cursor: pointer;
    
}

button{
    

    width: 190px;
    height: 20px;
    margin-top: 26px;
    margin-left: 76px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 2.5px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;

    width: 342px;
    height: 72px;
    margin-top: 58px;
    margin-left: 849px;
    border-radius: 10px;
    background: #AEC346;
    cursor: pointer;
    box-shadow: 0px 18px 40px 0px #AEC34659;

}

button :hover{
    opacity: 0.9;
}
button :active{
    opacity: 0.8;
}





